@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-text1;
}

.line {
  @apply pl-[4rem] relative transition-all text-[16px] ease-in-out antialiased text-text2;
}

.line:hover,
.line.active {
  @apply pl-[5rem] text-[17px];
}

.line::before {
  content: "";
  @apply absolute left-0 top-1/2 translate-y-[calc(-50%)] w-[3rem] h-[2px] bg-text2 transition-all ease-in-out antialiased;
}

.line:hover::before,
.line.active::before {
  @apply w-[4rem];
}

/* CARDS */
.cards {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
}
.card {
  position: relative;
  top: -20%;
}
.inner{
  width: 100%;
  height: 100%;
}
/* .main {
  margin-top: 50vh;
  margin-bottom: 100vh;
} */