@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  @apply bg-background text-text;
}
.line::before {
  content: " ";
  display: block;
  height: 2px;
  width: 3rem;
  @apply bg-accent;
  position: relative;
  top: 50%;
  left: -4rem;
}
