@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-text1;
}

.line {
  @apply pl-[4rem] relative transition-all text-[16px] ease-in-out antialiased text-text2;
}

.line:hover,
.line.active {
  @apply pl-[5rem] text-[17px];
}

.line::before {
  content: "";
  @apply absolute left-0 top-1/2 translate-y-[calc(-50%)] w-[3rem] h-[2px] bg-text2 transition-all ease-in-out antialiased;
}

.line:hover::before,
.line.active::before {
  @apply w-[4rem];
}

:root {
	--cards: 4;
	--cardHeight: 87vh;
	--cardTopPadding: 1.5em;
	--cardMargin: 4vw;
}
/* CARDS */
.cards {
  display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--cards), var(--cardHeight));
	gap: var(--cardMargin);
	padding-bottom: calc(var(--cards) * var(--cardTopPadding));
	margin-bottom: var(--cardMargin);
}
/* Add this for progressive z-index stacking */
.cards:nth-child(1) {
  --index: 1
}
.cards:nth-child(2) {
  --index: 2
}
.cards:nth-child(3) {
  --index: 3
}
.cards:nth-child(4) {
  --index: 4
}
.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--cardTopPadding));
}
